@import "../../../util/style/mixins/mixins.scss";
@import "../../../util/style/theme/theme.scss";

@include b(tooltip) {
  &.anticon {
    height: 27px;
    line-height: 27px;
  }
}

@include b(tooltip-inner) {
  background-color: $icon-color-hover !important;
}
